.events-section{
  background-color: $dark-700;
    padding: 0rem 0rem 3rem;
    z-index: 20;
    box-shadow: 0 10px $dark-700, 0 -10px $dark-700; 
    position: relative;
    .events-container{
      width: 90%;
      margin:0 auto;
      color: $primary;
    }
    .event-title{
      h2{
         margin:2rem 0 1rem;
         text-align: center;
       } 
      p{
        padding:0 1rem;
        text-shadow: -1px 1px 2px $dark-700;
        color:darken($primary,10%);
        
        
      }
    }
    .img{
      margin:0 auto;
       object-fit: cover;
      max-width: 270px;
      img{
        width: 100%;
        border-radius: 50%;
      }
   
    }

}
@media (min-width: 768px) {
  .events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    .event-title{

      h2 {
         text-align: unset;
      }
    }

  }
}